.reviews_content {
    padding-top: 20px;
}

.reviews_content ul {
    list-style-type:disc;
    padding-left: 30px;
    padding-bottom: 10px;
}

.reviews_content ul li {
    font-size: 16px;
    line-height: 20px;
}
/* 
@media (max-width:1199px) {
    
}
@media (max-width: 768px) {
   
}
@media (max-width: 480px) {
    
} */